.header {
   height: 60px;
   display: flex;
   align-items: center;
   background-color: #000000;
   position: sticky;
   top: 0;
   z-index: 100;
}

.header__logo {
   width: 120px;
   object-fit: contain;
   margin: 0 25px;
   margin-top: 5px;
}

.header__search {
   display: flex;
   flex: 1;
   align-items: center;
   border-radius: 24px;
}

.header__searchIcon {
   padding: 5px;
   height: 30px !important;
   background-color: #ffffff;
}
.header__searchInput {
   height: 30px;
   padding: 10px;
   border: none;
   width: 80%;
}
.header__option {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
.header__nav {
   display: flex;
   justify-content: space-evenly;
}
.header__optionOne {
   font-size: 10px;
}
.header__optionTwo {
   font-size: 13px;
   font-weight: 800;
}
.header__optionBasket {
   display: flex;
   align-items: center;
   color: white;
}
.header__basketCount {
   margin-left: 10px;
   margin-right: 10px;
}
@media (max-width: 420px) {
   .header .dropdown {
      display: none;
   }
   .header .contactus {
      display: none;
   }
   .header .aboutus {
      display: none;
   }
   .header .header__search {
      display: none;
   }
}
