.buttons_divider {
   margin-top: 50%;
   margin-bottom: 10%;
   border-bottom: solid #ccc 1px;
}

.sign_up_title {
   text-align: center;
   margin-bottom: 5%;
}

.sign_in_but {
   border-radius: 45%;
   margin-left: 5px;
}

.sign_up_form {
   margin-bottom: 10%;
}

.sign_up_form input {
   border-radius: 0px;
}

.bg-lightgray {
   background-color: LightGray;
}

p {
   text-align: center;
}

header {
   margin-bottom: 5%;
}

.header_bar {
   margin-top: 20px;
   margin-bottom: 20px;
}
